.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    color: black;
    text-transform: uppercase;
    box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.39);
-webkit-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.39);
}

.navbar ul {
    display: flex;
    gap: 4rem;
   
    font-size: 2rem;
    font-weight: 600;
}

.navbar a {
    color: black;
    font-weight: 600;

}

.navbar a:hover {
    text-decoration: underline;
}
.navbar svg {
    font-size: 4rem;
    text-align: center;
  align-self: center;
  color: darkblue;
}