
.main-contact-container {
    margin-top: 3rem;
}

.contact-container {
    display: flex;
    width: 100%;
    
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  

  .contact-info {
    background-color: #002147;
    color: white;
    padding: 20px;
    width: 40%;
  }
  
  .contact-info h2 {
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .social-icons span {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
 
  .contact-form {
    background-color: white;
    padding: 20px;
    width: 60%;
  }
  
  .contact-form h2 {
    margin-bottom: 15px;
    color: #002147;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #002147;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  
  .track-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .track-options label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
  

  .contacts-btn {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005a00;
  }
  
  
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
    .contact-info, .contact-form {
      width: 100%;
    }
  }
  